@use '../dialog' as dialog;

.app-edit-task {

  @include dialog.basic();

  &__subtask {
    width: 100%;
    margin-bottom: 8px;
  }

  &__add-new-subtask-button {
    width: 100%;
    margin-bottom: 24px;
  }

  &__update-task-button {
    width: 100%;
  }
}
