<div class="app-delete-board-task__title">Delete this task?</div>

<div class="app-delete-board-task__description">
  Are you sure you want to delete the '{{ boardTask()?.title || '' }}' task and its subtasks? This action cannot be reversed.
</div>

<button
  class="app-delete-board-task__delete-task-button"
  app-button
  appearance="warn"
  (click)="isRequesting.set(true)"
  [disabled]="isRequesting()"
>
  Delete
  @if (isRequesting()) {
    <app-loader/>
  }
</button>

<button
  class="app-delete-board-task__cancel-button"
  app-button
  appearance="secondary"
  (click)="close()"
  [disabled]="isRequesting()"
>Cancel
</button>
