@use '../dialog' as dialog;

.app-edit-board {

  @include dialog.basic();

  &__add-new-status-name-button {
    width: 100%;
    margin-bottom: 24px;
  }

  &__update-board-button {
    width: 100%;
  }
}
