@use 'styles/typography-mixins' as typography;
@use '../dialog' as dialog;

.app-view-task {

  @include dialog.basic();

  &__header {

    display: flex;
    justify-content: space-between;

    &__title {
      @include typography.heading-l();
      margin-bottom: 24px;
    }

    &__menu {
      &__trigger {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }

  &__description {
    @include typography.body-l();
    margin-bottom: 24px;
  }

  &__subtask {
    width: 100%;
    margin-bottom: 8px;
  }
}
