@if (task(); as task) {

  <div class="app-edit-task__title">Edit Task</div>

  <form [formGroup]="form">

    <app-form-field>
      <app-label>Title</app-label>
      <app-input
        placeholder="e.g. Take coffee break"
        [withHint]="true"
        [formControl]="form.controls.title"
      />
      @if (!form.controls.title.valid && form.controls.title.touched && form.controls.title.errors?.['required']) {
        <app-error>Can’t be empty</app-error>
      }
    </app-form-field>

    <app-form-field>
      <app-label>Description</app-label>
      <app-textarea
        placeholder="e.g. It’s always good to take a break. This 15 minute break will  recharge the batteries a little."
        [withHint]="true"
        [formControl]="form.controls.description"
      />
      @if (!form.controls.description.valid && form.controls.description.touched && form.controls.description.errors?.['required']) {
        <app-error>Can’t be empty</app-error>
      }
    </app-form-field>

    @for (subtask of form.controls.subtasks.controls; track subtask; let i = $index) {

      <app-form-field>
        <app-label>Subtask</app-label>
        <app-input
          [formControl]="subtask.controls.title"
          placeholder="e.g. Make coffee"
          [withHint]="true"
          [removeAble]="true"
          (remove)="form.controls.subtasks.removeAt(i)"
        />
        @if (!subtask.valid && subtask.touched && subtask.errors?.['required']) {
          <app-error>Can’t be empty</app-error>
        }
      </app-form-field>
    }

    <button
      class="app-edit-task__add-new-subtask-button"
      app-button
      appearance="secondary"
      (click)="addNewSubtask()"
      [disabled]="form.disabled"
    >+ Add New Subtask</button>

    <app-form-field>
      <app-label>Status</app-label>
      <app-select
        placeholder="e.g. Take coffee break"
        [formControl]="form.controls.boardStatusId"
        [items]="statuses()"
        [withHint]="true"
      />
    </app-form-field>

    <button
      class="app-edit-task__update-task-button"
      app-button
      appearance="primary"
      (click)="updateTask()"
      [disabled]="form.disabled"
    >Save Changes</button>

  </form>
}
