@if (!selectingBoard() && board(); as board) {

  @for (statusId of board.statusesIdsSequence; track statusId; let index = $index; let count = $count) {
    @if (board.statuses[statusId]; as status) {

      <div class="app-board__status">
        <div class="app-board__status__title-wrapper">
          <div class="app-board__status__title-wrapper__indicator" [style.background-color]="colorShift(index / (count - 1))"></div>
          <div class="app-board__status__title-wrapper__title">({{ status.tasksIdsSequence.length }}) {{ status.name }}</div>
        </div>

        @for (taskId of status.tasksIdsSequence; track taskId) {
          @if (status.tasks[taskId]; as task) {

            <div class="app-board__task" tabindex="{{tabIndex()}}" (click)="openTaskDialog($event, statusId, taskId)" (keydown)="openTaskDialog($event,statusId,taskId)">
              <div class="app-board__task__title-wrapper">
                <div class="app-board__task__title-wrapper__title">{{ task.title }}</div>
              </div>

              @if (task.subtasksIdsSequence.length > 0) {
                <div class="app-board__task__done-of">{{ getCompletedSubtasks(board.statuses[statusId].tasks[taskId]) }} of {{ task.subtasksIdsSequence.length }} subtasks</div>
              }
            </div>
          }
        }
      </div>
    }
  }

  @if (board.statusesIdsSequence.length === 0) {
    <div class="app-board__empty">
      <div class="app-board__empty__title">This board is empty. Create a new column to get started.</div>
      <button app-button (click)="openEditBoardDialog($event)" appearance="primary">+ Add New Column</button>
    </div>
  }

  @if (board.statusesIdsSequence.length > 0) {
    <div
      class="app-board__status-new"
      tabindex="{{tabIndex()}}"
      (click)="openNewStatusDialog($event)"
      (keydown)="openNewStatusDialog($event)"
      [ngStyle]="{height: 'calc(100vh - ' + (48 +  (heightNav() || 0)) + 'px)'}"
    >
      + New Column
    </div>
  }
} @else {
  <div class="app-board__empty">
    <div class="app-board__empty__title">Loading board...</div>
  </div>
}
