@use 'styles/typography-mixins' as typography;

.app-add-new-board {

  @include typography.heading-l();
  padding: 32px;
  max-width: 480px;
  display: block;
  background: white;
  width: calc(100vw - 32px);
  border-radius: 6px;
  overflow: auto;

  &__title {
    margin-bottom: 24px;
  }

  &__add-new-status-name-button {
    width: 100%;
    margin-bottom: 24px;
  }

  &__add-new-board-button {
    width: 100%;
  }
}
