<div class="app-add-new-board__title">Add New Board</div>

<form [formGroup]="form">

  <app-form-field>
    <app-label>Board Name</app-label>
    <app-input
      placeholder="e.g. Web Design"
      [withHint]="true"
      [formControl]="form.controls.name"
    />
    @if (!form.controls.name.valid && form.controls.name.touched && form.controls.name.errors?.['required']) {
      <app-error>Can’t be empty</app-error>
    }
  </app-form-field>

  @for (bordName of form.controls.statusesNames.controls; track bordName; let i = $index) {

    <app-form-field>
      <app-label>Board column name</app-label>
      <app-input
        [formControl]="bordName"
        placeholder="e.g. Web Design"
        [withHint]="true"
        [removeAble]="true"
        (remove)="form.controls.statusesNames.removeAt(i)"
      />
      @if (!bordName.valid && bordName.touched && bordName.errors?.['required']) {
        <app-error>Can’t be empty</app-error>
      }
    </app-form-field>
  }

  <button
    class="app-add-new-board__add-new-subtask-button"
    app-button
    appearance="secondary"
    (click)="addNewColumnName()"
    [disabled]="isLoading()"
  >+ Add New Column</button>

  <button
    class="app-add-new-board__add-new-board-button"
    app-button
    appearance="primary"
    (click)="createNewBoard()"
    [disabled]="isLoading()"
  >Create New Board</button>

</form>
