<!-- appNavSelectedLabelTemplateRef -->
<ng-template #appNavSelectedLabelTemplateRef>
  @if (_isOnPhone$ | async) {
    <span
      class="app-root__app-nav__left__selected-label"
      [tabindex]="0"
      (keydown)="setShowSideBar($event, !_showSideBar)"
      (click)="setShowSideBar($event, !_showSideBar)"
    >
      <svg [appSvg]="_showSideBar ? 'icon-chevron-up' : 'icon-chevron-down'"/>
      {{ _navTitle$ | async }}
    </span>

  } @else {
    <span>
      {{ _navTitle$ | async }}
    </span>
  }
</ng-template>

<!-- appNavButtonTemplateRef -->
<ng-template #appNavButtonTemplateRef>
  <button
    class="app-root__nav-button"
    app-button
    appearance="primary"
    [svg]="false"
    [size]="_navButtonSize$ | async"
    [disabled]="!!!(_board$ | async)"
    (click)="openAddTaskDialog($event)"
  >
    @if ((_isOnPhone$ | async) === false) {
      + Add new task
    } @else {
      <svg appSvg="icon-plus"/>
    }
  </button>
</ng-template>

<!-- appNavMenuButtonsTemplateRef -->
<ng-template #appNavMenuButtonsTemplateRef>
  @if (_board$ | async) {
    <app-pop-menu-item (click)="openEditBoardDialog($event); setShowNavMenuOptions(false);">Edit board</app-pop-menu-item>
    <app-pop-menu-item [danger]="true" (click)="openDeleteBoardDialog($event); setShowNavMenuOptions(false);">Delete board</app-pop-menu-item>
  }
</ng-template>

<!-- appSideBarItemsTitleTemplateRef -->
<ng-template #appSideBarItemsTitleTemplateRef>
  @if (_isLoggedIn$ | async) {
    All Boards ({{(_userBoards$ | async)?.length || 0}})
  } @else {
    All Boards (0)
  }
</ng-template>

<!-- appSideBarItemsContainerTemplateRef -->
<ng-template #appSideBarItemsContainerTemplateRef>

  @if (_authStateReady$ | async) {
    @if (_isLoggedIn$ | async) {

      @if (_userBoardsSorted$ | async; as boards) {
        @for (board of boards; track board.id) {
          <button
            [tabIndex]="_tabIndexSideBar$ | async"
            class="app-root__app-side-bar__items__container__button"
            [class.app-root__app-side-bar__items__container__button--active]="board.id === (_boardId$ | async)"
            app-button
            svg="left"
            (click)="select(board.id)"
          >
            <svg
              class="app-root__app-side-bar__items__container__button__svg"
              [class.app-root__app-side-bar__items__container__button__svg--active]="board.id === (_boardId$ | async)"
              appSvg="icon-board"
            />
            {{ board.name }}
          </button>
        }
      }

      <button
        [tabIndex]="_tabIndexSideBar$ | async"
        class="app-root__app-side-bar__items__container__button"
        app-button
        svg="left"
        (click)="openAddBoardDialog($event)"
      >
        <svg
          class="app-root__app-side-bar__items__container__button__svg"
          appSvg="icon-board"
        />
        + Create New Board
      </button>
    }
  }


</ng-template>

<!-- appSideBarPhoneItemsTitleTemplateRef -->
<ng-template #appSideBarPhoneItemsTitleTemplateRef>

  @if (_authStateReady$ | async) {
    @if (_isLoggedIn$ | async) {
      All Boards ({{(_userBoards$ | async)?.length || 0}})
    } @else {
      All Boards (0)
    }
  }
</ng-template>

<!-- appSideBarPhoneItemsContainerTemplateRef -->
<ng-template #appSideBarPhoneItemsContainerTemplateRef>

  @if (_authStateReady$ | async) {
    @if (_isLoggedIn$ | async) {
      @if (_userBoardsSorted$ | async; as boards) {
        @for (board of boards; track board) {
          <button
            class="app-root__app-side-bar-mobile__items__container__button"
            [class.app-root__app-side-bar-mobile__items__container__button--active]="board.id === (_boardId$ | async)"
            app-button
            svg="left"
            (click)="select(board.id); setShowSideBar($event,false)"
          >
            <svg
              class="app-root__app-side-bar-mobile__items__container__button__svg"
              [class.app-root__app-side-bar-mobile__items__container__button__svg--active]="board.id === (_boardId$ | async)"
              appSvg="icon-board"
            />
            {{ board.name }}
          </button>
        }
      }

      <button
        class="app-root__app-side-bar-mobile__items__container__button"
        app-button
        svg="left"
        (click)="openAddBoardDialog($event); setShowSideBar($event,false)"
      >
        <svg
          class="app-root__app-side-bar-mobile__items__container__button__svg"
          appSvg="icon-board"
        />
        + Create New Board
      </button>
    }
  }
</ng-template>

<app-nav
  [appNavButtonTemplateRef]="appNavButtonTemplateRef"
  [appNavMenuButtonsTemplateRef]="appNavMenuButtonsTemplateRef"
  [appNavSelectedLabelTemplateRef]="appNavSelectedLabelTemplateRef"
/>

<app-side-bar
  [appSideBarItemsTitleTemplateRef]="appSideBarItemsTitleTemplateRef"
  [appSideBarItemsContainerTemplateRef]="appSideBarItemsContainerTemplateRef"
/>

<app-side-bar-phone-wrapper
  [appSideBarPhoneItemsTitleTemplateRef]="appSideBarPhoneItemsTitleTemplateRef"
  [appSideBarPhoneItemsContainerTemplateRef]="appSideBarPhoneItemsContainerTemplateRef"
/>

<div
  [@moveRouterOutletForSideBar]="_moveRouterOutletForSideBar$ | async"
  [ngStyle]="{height: 'calc(100% - ' + (_heightNav$ | async) + 'px)'}"
  class="app-root__boards"
>

  @if (_authStateReady$ | async) {
    @if (_isLoggedIn$ | async) {

      @if ((_loadingUserBoards$ | async) === false) {

        @if (_userBoards$ | async; as userBoards) {
          @if (!userBoards || userBoards.length === 0) {

            <div class="app-root__boards__empty">
              <div class="app-root__boards__empty__title">There is no boards. Create a new board to get started.</div>
              <button
                app-button
                appearance="primary"
                (click)="openAddBoardDialog($event)"
              >+ Add New Board</button>
            </div>
          }

          @else if (userBoards.length > 0 && !!!(_board$ | async) && !!!(_boardId$ | async)) {
            <div class="app-root__boards__empty" [@fadeZoomInOutTrigger]>
              <div class="app-root__boards__empty__title">Select Board From Sidebar</div>
              @if ((_showSideBar$ | async) === false) {
                <button
                  app-button
                  appearance="primary"
                  (click)="setShowSideBar($event, true)"
                >Open Sidebar</button>
              }
            </div>
          } @else {
            <router-outlet/>
          }
        }

      }
    }
  }
</div>
