@mixin theme($theme) {

  .app-input {

    $font-family: map-get($theme, 'font-family');
    $color: map-get($theme, 'color');
    $color-error: map-get($theme, 'color-error');
    $color-placeholder: map-get($theme, 'color-placeholder');
    $background: map-get($theme, 'background');
    $border-color: map-get($theme, 'border-color');
    $border-color-hover: map-get($theme, 'border-color-hover');
    $border-color-active: map-get($theme, 'border-color-active');
    $border-color-focus: map-get($theme, 'border-color-focus');
    $border-color-error: map-get($theme, 'border-color-error');

    background: $background;

    &__input {

      font-family: $font-family;
      color: $color;
      border: solid 1px $border-color;
      background: $background;

      &::placeholder {
        font-family: $font-family;
        color: $color-placeholder;
      }

      &:hover {
        border: solid 1px $border-color-hover;
      }

      &:active {
        border: solid 1px $border-color-active;
      }

      &:focus-visible {
        border: solid 1px $border-color-focus;
      }
    }

    &.ng-invalid.ng-touched {
      .app-input__input {
        border: solid 1px $border-color-error;
      }
    }
  }
}
