<div class="app-nav__left">
  <div class="app-nav__left__branding">
    <div class="app-nav__left__branding__logo" [@move-branding-for-side-bar]="moveBrandingForSideBarState()">
      <svg appSvg="logo" class="app-nav__left__branding__logo__logo"/>

      @if (isOnTablet() || isOnDesktop()) {
        <svg [appSvg]="isDark() ? 'logo-text-dark' : 'logo-text-light'" class="app-nav__branding__logo__text"/>
      }
    </div>
  </div>

  <div class="app-nav__left__selected-label">
    @if (appNavSelectedLabelTemplateRef; as appNavSelectedLabelTemplateRef) {
      <ng-container [ngTemplateOutlet]="appNavSelectedLabelTemplateRef"/>
    } @else {
      @if (isOnPhone()) {
        <span
          class="app-nav__left__selected-label"
          tabindex="0"
          (keydown)="setShowSideBar($event, !showSideBar())"
          (click)="setShowSideBar($event, !showSideBar())"
        >
      <svg [appSvg]="showSideBar() ? 'icon-chevron-up' : 'icon-chevron-down'"/>
          {{ authStateReady() === undefined ? 'Loading ...' : 'Kanban App' }}
    </span>
      } @else {
        <span>{{ authStateReady() === undefined ? 'Loading ...' : 'Kanban App' }}</span>
      }
    }
  </div>
</div>

<div
  class="app-nav__menu"
>
  @if (isLoggedIn() === false) {
    <button
      app-button
      appearance="primary"
      size="large"
      svg="left"
      (click)="signInAnonymously()"
    >
      <svg appSvg="incognito"/>

      @if (!isOnPhone()) {
        Try It
      }
    </button>
  }

  @if (appNavButtonTemplateRef; as appNavButtonTemplateRef) {
    <ng-container [ngTemplateOutlet]="appNavButtonTemplateRef"/>
  }

  <div
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    tabindex="0"
    class="app-nav__menu__trigger"
    (click)="setShowNavMenuOptions($event, !showNavMenuOptions())"
    (keydown)="setShowNavMenuOptions($event, !showNavMenuOptions())"
  >
    <svg appSvg="icon-vertical-ellipsis"/>
  </div>

  <ng-template
    cdkConnectedOverlay
    #cdkConnectedOverlay="cdkConnectedOverlay"
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="!!showNavMenuOptions()"
    [cdkConnectedOverlayDisposeOnNavigation]="true"
    (overlayOutsideClick)="cdkConnectedOverlay.overlayRef.detach(); setShowNavMenuOptions($event,false);"
  >
    <app-pop-menu [style.min-width.px]="192">

      @if (appNavMenuButtonsTemplateRef; as appNavMenuButtonsTemplateRef) {
        <ng-container [ngTemplateOutlet]="appNavMenuButtonsTemplateRef"/>
      }

      @if (isLoggedIn()) {
        <app-pop-menu-item [danger]="true" (click)="setShowNavMenuOptions($event,false); signOut();">Sign Out</app-pop-menu-item>
      }
    </app-pop-menu>
  </ng-template>
</div>
