@use 'styles/typography-mixins' as typography;
@use 'styles/layout' as layout;

.app-nav {

  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px black;

  @include layout.from-tablet() {
    height: 80px;
  }

  @include layout.from-desktop() {
    height: 97px;
  }

  &__left {

    display: flex;
    height: 100%;
    min-width: 0;

    &__branding {

      display: flex;
      align-items: center;
      height: 100%;

      &__logo {

        height: 100%;
        display: flex;
        align-items: center;
        min-width: 56px;

        @include layout.from-tablet() {
          min-width: 210px;
          border-right: solid 1px black;
        }

        @include layout.from-desktop() {
          min-width: 219px;
          border-right: solid 1px black;
        }

        &__logo {

          margin-right: 16px;
          margin-left: 16px;

          @include layout.from-tablet() {
            margin-right: 24px;
            margin-left: 24px;
          }
        }

        &__text {

          @include layout.from-tablet() {
            margin-right: 24px;
          }

          @include layout.from-desktop() {
            margin-right: 33px;
          }
        }
      }
    }

    &__selected-label {

      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 16px;
      gap: 8px;
      user-select: none;
      cursor: pointer;

      @include typography.heading-l();

      @include layout.from-tablet() {
        font-size: 20px;
        font-weight: bold;
        padding-left: 24px;
        margin-right: 24px;
      }

      @include layout.from-desktop() {
        @include typography.heading-xl();
        padding-left: 32px;
        margin-right: 32px;
      }
    }
  }

  &__menu {

    margin-right: 16px;
    display: flex;
    align-items: center;
    gap: calc(16px - 9.5px);

    @include layout.from-tablet() {
      margin-right: 24px;
      gap: calc(24px - 9.5px);
    }

    &__trigger {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
