@use 'styles/typography-mixins' as typography;
@use 'styles/layout' as layout;

.app-nav {

  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px black;

  @include layout.from-tablet() {
    height: 80px;
  }

  @include layout.from-desktop() {
    height: 97px;
  }

  &__left {

    display: flex;
    min-width: 0;
    height: 100%;

    &__branding {

      position: relative;
      padding-right: 16px;
      margin-left: 16px;
      height: 100%;
      display: flex;
      align-items: center;

      @include layout.from-tablet() {
        border-right: solid 1px black;
        padding-right: 24px;
        margin-left: 24px;
      }

      @include layout.from-desktop() {
        padding-right: 33px;
      }

      &__loading {

        top: 48px;
        width: 25px !important;

        @include layout.from-tablet() {
          top: 57px;
          width: 153px !important;
        }

        @include layout.from-desktop() {
          top: 65px !important;
        }
      }
    }

    &__selected-label {

      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 16px;
      gap: 8px;
      user-select: none;
      cursor: pointer;

      @include typography.heading-l();

      @include layout.from-tablet() {
        font-size: 20px;
        font-weight: bold;
        padding-left: 24px;
        margin-right: 24px;
      }

      @include layout.from-desktop() {
        @include typography.heading-xl();
        padding-left: 32px;
        margin-right: 32px;
      }
    }
  }

  &__menu {

    margin-right: 16px;
    display: flex;
    align-items: center;
    gap: calc(16px - 9.5px);

    @include layout.from-tablet() {
      margin-right: 24px;
      gap: calc(24px - 9.5px);
    }

    &__trigger {

      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &--inactive {
        opacity: 0.3;
        cursor: auto;
        pointer-events: none;
      }
    }
  }
}
