<div class="app-delete-task__title">Delete this task?</div>

<div class="app-delete-task__description">
  Are you sure you want to delete the '{{ taskTitle() }}' task and its subtasks? This action cannot be reversed.
</div>

<button
  class="app-delete-task__delete-task-button"
  app-button
  appearance="warn"
  (click)="deleteTask()"
  [disabled]="isLoading()"
>
  Delete
  @if (isLoading()) {
    <app-loader/>
  }
</button>

<button
  class="app-delete-task__cancel-button"
  app-button
  appearance="secondary"
  (click)="close()"
  [disabled]="isLoading()"
>Cancel
</button>
