@use 'app/components/form/checkbox/checkbox' as checkbox;
@use 'app/components/form/error/error' as error;
@use 'app/components/form/input/input' as input;
@use 'app/components/form/label/label' as label;

@use 'app/components/button/button' as button;

@import 'styles/typography';
@import 'styles/colors';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  overflow: auto;
  height: 100vh;
  font-family: $font-family;
}

.dark {

  @include checkbox.theme((
    font-family: $font-family,
    color: $white,
    color-checked: mix($white, $very-dark-gray, 50%),
    background: $very-dark-gray,
    background-hover: mix($main-purple, $dark-gray, 24.89%),
    checkbox-unchecked-border-color: mix($medium-gray, $dark-gray, 24.89%),
    checkbox-checked-border-color: transparent,
    checkbox-unchecked-background: $dark-gray,
    checkbox-checked-background: $main-purple,
    checkbox-focus-visible-check-outline-color: $white
  ));

  @include error.theme((
    font-family: $font-family,
    color: $red
  ));

  @include input.theme((
    font-family: $font-family,
    color: $white,
    color-error: $red,
    color-placeholder: transparentize($white, 0.75),
    background: $dark-gray,
    border-color: transparentize($medium-gray, 0.75),
    border-color-hover: $main-purple,
    border-color-active: $main-purple,
    border-color-focus: $main-purple,
    border-color-error: $red
  ));

  @include label.theme((
    font-family: $font-family,
    color: $white
  ));

  @include button.theme((
    font-family: $font-family,
    primary-background: $main-purple,
    primary-color: $white,
    primary-hover-background: $main-purple-hover,
    primary-hover-color: $white,
    secondary-background: $white,
    secondary-color: $main-purple,
    secondary-hover-background: transparentize($main-purple, 0.75),
    secondary-hover-color: $main-purple,
    warn-background: $red,
    warn-color: $white,
    warn-hover-background: $red-hover,
    warn-hover-color: $white
  ));
}

.light {

  @include checkbox.theme((
    font-family: $font-family,
    color: $black,
    color-checked: mix($black, $light-gray, 50%),
    background: $light-gray,
    background-hover: mix($main-purple, $white, 25%),
    checkbox-unchecked-border-color: mix($medium-gray, $white, 24.89%),
    checkbox-checked-border-color: transparent,
    checkbox-unchecked-background: $white,
    checkbox-checked-background: $main-purple,
    checkbox-focus-visible-check-outline-color: $black
  ));

  @include error.theme((
    font-family: $font-family,
    color: $red
  ));

  @include input.theme((
    font-family: $font-family,
    color: $black,
    color-error: $red,
    color-placeholder: transparentize($black, 0.75),
    background: $white,
    border-color: transparentize($medium-gray, 0.75),
    border-color-hover: $main-purple,
    border-color-active: $main-purple,
    border-color-focus: $main-purple,
    border-color-error: $red
  ));

  @include label.theme((
    font-family: $font-family,
    color: $medium-gray
  ));

  @include button.theme((
    font-family: $font-family,
    primary-background: $main-purple,
    primary-color: $white,
    primary-hover-background: $main-purple-hover,
    primary-hover-color: $white,
    secondary-background: transparentize($main-purple, 0.9),
    secondary-color: $main-purple,
    secondary-hover-background: transparentize($main-purple, 0.75),
    secondary-hover-color: $main-purple,
    warn-background: $red,
    warn-color: $white,
    warn-hover-background: $red-hover,
    warn-hover-color: $white
  ));
}
