@import 'styles/typography';
@import 'styles/colors';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  overflow: auto;
  height: 100vh;
  font-family: $font-family;
}

.dark {
}

.light {
}
