<div class="app-add-new-board__title">Add New Board</div>

<form [formGroup]="form">

  <app-form-field>
    <app-label>Board Name</app-label>
    <app-input
      placeholder="e.g. Web Design"
      [withHint]="true"
      [formControl]="form.controls.name"
    />
    @if (!form.controls.name.valid && form.controls.name.touched && form.controls.name.errors?.['required']) {
      <app-error>Can’t be empty</app-error>
    }
  </app-form-field>

  <app-label>Board columns</app-label>

  @for (bordName of form.controls.boardStatusesNames.controls; track bordName; let i = $index) {
    <app-form-field>
      <app-input
        [formControl]="bordName"
        placeholder="e.g. Web Design"
        [removeAble]="true"
        (remove)="form.controls.boardStatusesNames.removeAt(i)"
      />
    </app-form-field>
  }

  <button
    class="app-add-new-board__add-new-status-name-button"
    app-button
    appearance="secondary"
    (click)="addNewBoardStatusName()"
    [disabled]="form.disabled"
  >+ Add New Column</button>

  <button
    class="app-add-new-board__add-new-board-button"
    app-button
    appearance="primary"
    (click)="boardCreate()"
    [disabled]="form.disabled"
  >
    Create New Board
    @if (form.disabled) {
      <app-loader/>
    }
  </button>

</form>
