@use 'styles/typography-mixins' as typography;

.app-delete-task {

  @include typography.heading-l();
  padding: 32px;
  max-width: 480px;
  display: block;
  background: white;
  width: calc(100vw - 32px);
  border-radius: 6px;
  overflow: auto;

  &__title {
    margin-bottom: 24px;
  }

  &__description {
    @include typography.body-l();
    margin-bottom: 22px;
  }

  &__delete-task-button {
    width: 100%;
    margin-bottom: 24px;
  }

  &__cancel-button {
    width: 100%;
  }
}
