@mixin theme($theme) {

  .app-view-board-task {

    $background: map-get($theme, 'background');
    $title-color: map-get($theme, 'title-color');

    background: $background;

    &__title {
      color: $title-color;
    }
  }
}
