<div class="app-view-board-task__title">Add New Board Task</div>

<form [formGroup]="form">

  <app-form-field>
    <app-label>Title</app-label>
    <app-input
      placeholder="e.g. Take coffee break"
      [withHint]="true"
      [formControl]="form.controls.title"
    />
    @if (!form.controls.title.valid && form.controls.title.touched && form.controls.title.errors?.['required']) {
      <app-error>Can’t be empty</app-error>
    }
  </app-form-field>

  <app-form-field>
    <app-label>Description</app-label>
    <app-textarea
      placeholder="e.g. It’s always good to take a break. This 15 minute break will  recharge the batteries a little."
      [withHint]="true"
      [formControl]="form.controls.description"
    />
  </app-form-field>

  <app-label>Subtasks</app-label>

  @for (subtask of form.controls.boardTaskSubtasksTitles.controls; track subtask; let i = $index) {
    <app-form-field>
      <app-input
        [formControl]="subtask"
        placeholder="e.g. Make coffee"
        [removeAble]="true"
        (remove)="form.controls.boardTaskSubtasksTitles.removeAt(i)"
      />
    </app-form-field>
  }

  <button
    class="app-view-board-task__add-new-subtask-button"
    app-button
    appearance="secondary"
    (click)="addNewSubtask()"
    [disabled]="form.disabled"
  >+ Add New Board Task Subtask
  </button>

  <app-form-field>
    <app-label>BoardStatus</app-label>
    <app-select
      placeholder="e.g. Take coffee break"
      [formControl]="form.controls.boardStatusId"
      [items]="statuses"
      [withHint]="true"
    />
  </app-form-field>

  <button
    class="app-view-board-task__create-task-button"
    app-button
    appearance="primary"
    (click)="boardTaskCreate()"
    [disabled]="form.disabled"
  >
    Create Board Task
    @if (form.disabled) {
      <app-loader/>
    }
  </button>

</form>
