@mixin theme($theme) {

  .app-snack-bar {

    $font-family: map-get($theme, 'font-family');
    $color: map-get($theme, 'color');
    $background: map-get($theme, 'background');

    font-family: $font-family;
    color: $color;
    background: $background;
  }
}
